@media (max-width: 1600px) {
    .sticky-titles {
        &__item {
            font-size: 26px;
        }
    }
}

@media (max-width: 1440px) {
    .models {
        &__items {
            justify-content: space-between;
        }
        &__item {
            min-width: 500px;
            padding-right: 160px;
            margin-right: 0;
        }
    }
}

@media (max-width: 1240px) {
    .offer {
        &__img-name {
            left: 720px;
        }
    }
}

@media (max-width: 1308px) {
    .offer {
        padding-bottom: 21px;
        &::after {
            bottom: -9px;
        }
        &__titles {
            margin-left: 90px;
            font-size: 50px;
        }

        &__img {
            top: -57px;
            left: 504px;
        }
    }

    .sticky-titles {
        margin: 0;
        top: 0;
        left: 0;
        padding: 6px 0;
        font-size: 32px;
        &__item {
            font-size: 24px;
        }
        &.active {
            top: 0;
        }
    }
}

@media (max-width: 1220px) {
    .offer {
        overflow: initial;
        &__img {
            left: 38vw;
            img {
                width: 45vw;
            }
        }

        &__titles {
            font-size: 4.6vw;
            margin-left: 0;
            text-align: left;
            justify-content: space-between;
        }

        &__btn {
            max-width: 363px;
            display: block;
            width: 100%;
            padding: 31px 10px;
        }

        &__col--right {
            position: static;
            z-index: 15;
        }

        &__dominates {
            margin-top: 46px;
        }

        &__dominates-item {
            backdrop-filter: blur(22.5px);
            background-color: #04232388;
            position: relative;
        }

        &__scroll {
            display: none;
        }
    }

    .btn {
        max-width: 363px;
        display: block;
        width: 100%;
        padding: 31px 10px;
    }

    .models {
        position: relative;
        z-index: 100;
        &__items {
        }

        &__item {
            max-width: none;
            width: 49%;
            margin-right: 0;
        }
    }

    .liquid {
        &__employee-label {
            right: 100px;
            top: 200px;
        }
    }

    .process {
        &__cards {
            flex-wrap: wrap;
        }

        &__card {
            margin-bottom: 10px;
            width: 45%;
            max-width: 100%;
            margin-right: 10px;
        }

        &__card-text br {
            content: " ";
        }

        &__steps-item img {
            display: none;
        }

        &__steps-item-left {
            width: 50%;
        }

        &__steps-item-right {
            width: 50%;
        }

        &__bottom {
            flex-direction: column;
            justify-content: center;
        }

        &__btn {
            margin-right: auto;
        }

        &__social {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer {
        &__col {
            &--logo {
                width: 23%;
                margin-right: 10px;
            }

            &--links {
                width: 27%;
            }

            &--contacts {
                width: 29%;
            }
        }
    }

    .sticky-titles {
        justify-content: center;
        &__item {
            font-size: 22px;
        }
    }
}

@media (max-width: 1255px) {
    .team {
        &__employee-label {
            display: none;
        }

        &__persons {
            margin-top: 30px;
            img {
                position: relative;
                width: 100%;
                object-fit: top center;
            }
        }
    }
}

@media (max-width: 1100px) {
    .models {
        .row {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .sticky-titles {
        padding: 5px 0;
        &__item {
            font-size: 20px;
        }
    }
}

@media (max-width: 1020px) {
    .liquid {
        .row {
            flex-direction: column;
        }

        &__col {
            width: 100%;
            &--right {
                position: relative;
            }
            &--left {
                padding-top: 40px;
                z-index: 1;
            }
        }

        &__title {
            text-align: center;
        }

        &__employee-quote {
            position: relative;
            left: initial;
            bottom: initial;
            right: initial;
            width: 100%;
            margin-left: auto;
        }

        &__employee-label {
            right: 21px;
            top: -250px;
        }

        &__image {
            right: -80px;
            margin-top: -441px;
            z-index: 0;
            position: absolute;
            width: 626px;
            height: 600px;
            object-position: top center;
            object-fit: cover;
        }

        &__btn {
            display: none;
        }
    }

    .navigate {
        right: 10px;
    }

    .process {
        &__steps-item {
            flex-direction: column;
            &--6 .process__steps-item-left,
            .process__steps-item-right {
                width: 100%;
            }
            &--7 .process__steps-item-left,
            .process__steps-item-right {
                width: 100%;
            }
        }

        &__steps-item-left,
        &__steps-item-right {
            width: 100%;
        }

        &__steps-item-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: flex-start;
            margin-left: 0;
        }

        &__steps-item-content {
            margin-left: 0;
        }
        &__steps-item-content {
            padding-left: 85px;
        }
    }

    .calculator {
        &__row {
            flex-direction: column;
            justify-content: center;
        }

        &__col {
            width: 100%;
        }

        &__title {
            max-width: 100%;
            text-align: center;
        }

        &__form {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .not-found {
        padding-bottom: 100px;
        &__title {
            margin-top: 100px;
        }
    }

    .thanks {
        padding-bottom: 100px;
        &__title {
            margin-top: 100px;
        }

        &__social-link {
            width: 80px;
            height: 80px;
        }
    }

    .allon-title {
        font-size: 42px;
    }
}

@media (max-width: 992px) {

    .sticky-titles {
        display: none;
    }

    .offer {
        &__img-name {
            left: 600px;
        }

        &__titles-item {
            margin-right: 10px !important;
        }

        &__img {
            right: -120px;
            img {
                position: static;
                margin-left: auto;
            }
        }

        &__dominates {
            margin-top: 80px;
        }
    }

    .questions {
        &__col {
            &--left {
                width: 60%;
            }
            &--right {
                width: 40%;
            }
        }

        &__text {
            font-size: 18px;
        }
    }

    .footer {
        text-align: center;
        .row {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__col {
            width: 100%;
            max-width: 329px;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0 auto 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            &--map,
            &--slider {
                height: 201px;
                margin: 10px 0 0 0;
            }
        }

        &__logo {
            max-width: 154px;
            width: 100%;
            margin-bottom: 7px;
            img {
                display: block;
                margin: 0 auto;
            }
        }

        &__social-link svg {
            width: 50%;
        }

        &__links {
            width: 100%;
        }

        &__links-link {
            font-size: 11px;
        }

        &__social {
            width: 100%;
            margin: 20px 0;
        }

        &__social-list {
            justify-content: center;
            width: 100%;
        }

        &__contacts {
            align-items: center;
        }

        &__phone {
            font-size: 13px;
        }

        &__call {
            font-size: 11px;
        }

        &__slider-arrow {
            width: 27px;
            height: 27px;
            svg {
                height: 9.02px;
                width: 4.69px;
            }
            &--left {
                left: 10px;
            }

            &--right {
                right: 10px;
            }
        }
    }
}

@media (max-width: 876px) {
    .icon-card {
        &__img {
            width: 56px;
            height: 55px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .offer {
        .row {
            flex-direction: column;
        }

        &__col {
            width: 100%;
        }

        &__col--left {
            margin-left: 0;
        }

        &__col--right {
        }

        &__titles {
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 28px;
            font-size: 40px;
        }

        &__cards {
            margin-top: 0;
            z-index: 2;
            position: relative;
        }

        &__cards-item {
            margin-left: 0;
            margin-right: 20px;
        }

        &__btn {
            margin-top: 403px;
            padding: 26px;
            font-size: 13.968px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 18.159px */
            letter-spacing: 0.838px;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {
            top: 204px;
            left: 40vw;
            z-index: 10;
            width: 327px;
            img {
                right: 0;
                width: 100%;
            }
        }

        &__dominates {
            margin-top: 0;
        }

        &__dominates-item {
            padding: 20px 19px;
            margin-top: 161px;
            flex-direction: column;
            text-align: center;
            position: absolute;
            width: 150px;
            background: linear-gradient(90deg, rgba(38, 96, 109, 0.6) 26%, rgba(37, 119, 136, 0) 100%),
                rgba(255, 255, 255, 0.01);
            z-index: 0;
            &--1 {
                left: 25.5vw;
                top: 150px;
            }
            &--2 {
                top: 235px;
                right: 18vw;
                z-index: 3;
            }
        }

        &__dominates-nums {
            font-size: 30px;
            text-align: center;
            margin-right: 0;
        }

        &__dominates-text {
            font-size: 12px;
        }

        &__img-name {
            left: 12vw;
            bottom: 100px;
        }

        &__btn {
        }
    }

    .offer-cards {
        position: relative;
        z-index: 100;
    }

    .section-title {
        font-size: 36px;
    }

    .team {
        &::after {
            height: 228px;
        }
    }
}

@media (max-width: 786px) {
    .navigate {
        &__link {
            width: 40px;
            height: 40px;
        }
    }

    .header {
        padding: 9px 0;
        position: fixed;
        background: linear-gradient(113deg, #161a24 18.72%, #11141c 85%);
        &__col {
            &--left {
                display: none;
            }

            &--center {
                max-width: 217px;
                width: 100%;
            }

            &--right {
                max-width: 206px;
                width: 100%;
                margin-left: auto;
            }

            &--burger {
                display: block;
                max-width: 60px;
                width: 100%;
                margin-left: 10px;
            }
        }
    }

    .liquid {
        background-size: cover;
        &::after {
            bottom: -20px;
        }
        &__image {
            position: relative;
            margin-top: 0;
            width: 100%;
            height: 100%;
        }

        &__img {
            &::after {
                content: "";
                position: absolute;
                width: 120%;
                height: 501px;
                background-image: url("../images/graphics/shadow2.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__employee-quote {
            background: linear-gradient(123deg, rgba(19, 91, 96, 0.45) 4.49%, rgba(30, 85, 109, 0.45) 120.49%),
                rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(7.5px);
            margin-top: -100px;
            max-width: none;
            &-text {
                font-size: 19px;
            }
        }

        &__employee-label {
            top: 20vw;
        }
    }

    .section-title {
        font-size: 28px;
    }

    .process {
        &__title {
            margin-bottom: 20px;
        }

        &__cards {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__card {
            width: 100%;
            max-width: 100%;
            margin-right: 0;
        }

        &__steps {
            margin-top: 24px;
        }
    }

    .footer {
        background-image: url("../images/graphics/footer-bg-mob.jpg");
        background-position: center top;
        padding: 30px 0;
        &__title {
            max-width: 229px;
        }

        &__address {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .questions {
        background-image: url("../images/graphics/questions-bg-mob.jpg");
        padding: 30px 0 20px;
        &::after {
            display: none;
        }

        &__title {
            text-align: center;
            margin-bottom: 5px;
        }

        &__text {
            text-align: center;
            font-weight: 300;
            font-size: 13px;
            margin-bottom: 20px;
        }

        &__col {
            &--left {
                margin-top: 0;
                width: 100%;
            }

            &--right {
                display: none;
            }
        }

        &__btn {
            margin-left: auto;
            margin-right: auto;
        }

        &__card {
            margin-left: 0 !important;
        }
    }

    .not-found {
        height: 100vh;
    }

    .thanks {
        &__descr {
            font-size: 16px;
            margin-bottom: 40px;
        }
    }

    .allon-title {
        font-size: 36px;
        margin-bottom: 30px;
    }
}

@media (max-width: 620px) {
    .offer {
        .container {
            max-width: 360px;
        }

        &__col {
            width: 100%;
        }

        &__titles {
            font-size: 28px;
            text-align: center;
        }
        &__img {
            width: 277px;
            top: 170px;
            right: 39%;
            left: initial;
            display: flex;
            align-items: flex-start;
            transform: translateX(50%);
            img {
                position: static;
                width: 100%;
                margin: 0;
            }
        }

        &__img-name {
            left: 15px;
            bottom: 116px;
            width: 144px;
            padding: 13px 18px;
            border-radius: 6.542px;
        }

        &__img-name-title {
            font-weight: 500;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 15.6px */
        }

        &__img-name-job {
            font-size: 8px;
            font-style: normal;
            font-weight: 100;
            line-height: 130%; /* 10.4px */
        }

        &__dominates {
            margin-top: 10px;
            align-items: flex-end;
            width: 100%;
        }

        &__dominates-item {
            flex-direction: column;
            background: linear-gradient(90deg, rgba(38, 96, 109, 0.4) 26%, rgba(37, 119, 136, 0) 100%),
                rgba(255, 255, 255, 0.01);
            width: 150px;
            border-radius: 9.671px;

            height: 100px;
            &--1 {
                top: 30px;
                left: 0.5vw;
            }

            &--2 {
                margin-top: 93px;
                right: 0;
            }
        }

        &__dominates-nums {
            font-size: 24px;
        }

        &__dominates-text {
            text-align: center;
            font-weight: 300;
        }

        &__btn {
            margin-top: 403px;
            padding: 29.5px 10px;
            font-size: 14px;
            max-width: 277px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .process {
    }

    .btn {
        border-radius: 10px;
        padding: 29.5px 10px;
        font-size: 14px;
        max-width: 277px;
        margin-left: auto;
        margin-right: auto;
    }

    .calculator {
        
    }
    .allon-title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {

    .navigate {
        &__item {
            &--1 svg {
                margin-top: 2px;
                width: 17.5px;
                height: 15px;
                margin-right: 2px;
            }

            &--2 svg {
                width: 18px;
                margin-left: -1px;
                height: 17.5px;
                margin-top: 0;
            }

            &--3 svg, &--4 svg{
                width: 40%;
            }
        }
    }

    .btn-circle {
        width: 42px;
        height: 42px;
        &--youtube  svg{
            width: 20px;
            height: 14.2px;
            margin-top: 1px;
        }

        &--whatsapp  svg{
            width: 17.5px;
            height: 17.5px;
            margin-left: 2px;
        }

        &--telegramm  svg{
            width:17px;
            height: 15px;
            margin-left: -2px;
            margin-top: 2px;
        }

        &--insta  svg{
            width: 17px;
            height: 17px;
            margin-top: -1px;
        }
    }

    .header {
        &__phone {
            font-size: 16px;
            line-height: 18px;
        }

        &__call {
            display: none;
        }
    }


    .contacts {
        &__call {
            font-size: 11px;
            line-height: 12px;
        }
    }

    .mobile-menu {
        width: 60%;
    }

    .burger.active .burger__icon span:first-child {
        transform: translateY(5px);
    }

    .btn {
        border-radius: 15px;
    }

    .offer {
        background-image: url("../images/graphics/offer-bg-mob.jpg");
        padding-bottom: 0;
    }

    .offer-cards {
        background-image: url("../images/graphics/offer-cards-mob-bg.png");
        padding-top: 31px;
        &::after {
            display: none;
        }
    }

    .models {
        background-image: url("../images/graphics/models-bg-mob.jpg");
        background-size: 100% 100%;
        padding: 20px 0;
        &__item {
            padding: 32px 120px 32px 32px;
            min-width: 0%;
            margin-bottom: 10px;

        }

        &__item-num {
            font-size: 56.933px;
        }

        &__item-name {
            font-size: 13px;
        }

        &__item-text {
            font-size: 12px;
        }
    }

    .section-title {
        font-size: 22px;
    }

    .liquid {
        padding: 30px 0 20px;
        &__employee-quote {
            padding-left: 16px;
            padding-right: 18px;
            margin-top: -30px;
            &::before {
                font-size: 90px;
            }
            &-text {
                font-size: 12px;
            }
        }

        &__title {
            margin-bottom: 32px;
        }

        &__antistress-title {
            margin-top: 30px;
            font-size: 14px;
        }

        &__antistress-card {
            max-width: 277px;
            margin-bottom: 10px;
            &:nth-child(2) {
                max-width: 260px;
            }
        }

        &__image {
            width: 320px;
            position: static;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &__employee-label {
            top: 27vw;
            right: 7vw;
        }

        &__employee-label-name {
            font-size: 12px;
            margin-bottom: 0;
        }

        &__employee-label-job {
            font-size: 8px;
        }

        &__card-title .icon-card__text br:last-child {
            content: " ";
        }

        &__employee-quote {
            &::before {
                margin-right: 6px;
            }
        }

        &__employee-quote-text {
            font-weight: 500;
            max-width: 244px;
            font-size: 12px;
            line-height: 19.2px;
        }
    }

    .process {
        padding-top: 30px;

        &__steps {
            margin-top: 0;
        }

        &__steps-num {
            font-size: 40px;
            margin-right: 9px;
        }

        &__steps-title {
            font-size: 13px;
            font-weight: 500;
        }

        &__steps-item-content {
            font-size: 13px;
            padding-top: 20px;
            padding-left: 70px;
            * + .process__steps-list {
                margin-top: 10px;
            }
        }

        &__steps-list {
            margin-top: 0;
        }

        &__steps-list-item {
            font-size: 12px;
            margin-top: 0 !important;
            margin-bottom: 8px;
        }

        &__bottom {
            margin-top: 30px;
        }

        &__btn {
            max-width: 277px;
            padding: 27px 10px;
            font-size: 14px;
        }

        &__social-text {
            margin-right: 10px;
        }

        &__social-link {
            width: 42px;
            height: 42px;
        }
    }

    .liquid {
        background-image: url("../images/graphics/liquid-bg-mob.jpg");
        background-position: center;
        padding-top: 30px;
        &::after {
            background-image: url("../images/graphics/liquid-shadow-mob.png");
            height: 301px;
            bottom: 60px;
        }
        &__img::after {
            bottom: 15px;
            display: none;
        }

        &__col--left {
            
            margin-top: 0;
            padding-top: 0;
        }
    }

    .process {
        background-image: url("../images/graphics/process-bg-mob.jpg");
        background-position: top center;
    }

    .calculator {
        padding: 30px 0 19px;
        background-image: url("../images/graphics/calculator-bg-mob.jpg");
        &__form {
            padding: 30px 25px;
            max-width: 330px;
        }

        &__form-title {
            font-size: 13px;
            font-weight: 400;
        }

        &__form-rang-max {
            display: none;
        }

        &__form-value-items {
            margin: 20px 0;
        }

        &__form-value-res {
            font-size: 16px;
        }

        &__form-input {
            font-size: 12px;
            padding: 28px 30px 27px;
        }

        &__form-radio-label {
            font-size: 12px;
            max-width: 91px;
        }

        &__form-radio-items {
            margin-left: 10px;
        }

        &__radio {
            margin-bottom: 20px;
        }

        &__form-btn {
            border: none;
            width: 100%;
            font-size: 14px;
            padding: 27px 10px 26px;
        }

        &__form-checkbox {
            margin-top: 11px;
        }
    }

    .team {
        background-image: url("../images/graphics/team-bg-mob.jpg");
        padding-top: 29px;
        &::after {
            bottom: -30px;
        }
        &__persons {
            margin-top: 30px;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__card {
            max-width: 301px;
            margin-bottom: 0;
        }

        &__card-img {
            width: 56px;
            height: 55px;
            margin-right: 15px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__card-text {
            line-height: 130%; /* 15.6px */
            font-size: 12px;
        }

        &__persons {
            img {
            }
        }
    }

    .questions {
        padding-top: 30px;
        margin-top: -10px;

        &__card {
            margin-bottom: 10px;
        }

        &__card-text br {
            content: "";
        }

        &__btn {
            margin-top: 20px;
        }
    }

    .calculator {
        &__title {
            max-width: 306px;
            margin-left: auto;
            margin-right: auto;
        }

        &__form-checkbox input + label {
            font-size: 10px;
            align-items: center;
            br {
                content: "";
            }
            &::before {
                min-width: 15px;
                min-height: 15px;
                width: 15px;
                height: 15px;
                background-position: 4px 5px;
                margin-right: 7px;
            }
        }

        &__form-input {
            max-width: 100%;
        }

        &__form-btn {
            max-width: 100%;
            width: 100%;
        }
    }

    .icon-card {
        &__text {
            font-size: 12px;
        }
        &__img {
            margin-right: 15px;
        }
    }

    .thanks {
        &__title {
            margin-top: 50px;
        }
    }

    .footer {
        padding-bottom: 26px;
        &__address {
            font-size: 12px;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &__bottom {
            margin-top: 27px;
        }
    }
}

@media (max-width: 450px) {
    .header__logo {
        max-width: 154.47px;
        min-width: 154.47px;
    }

    .mobile-menu {
        max-width: 225px;
        width: 100%;

        &__logo {
            max-width: 154.47px;
            min-width: 154.47px;
        }

        &__item {
            margin-bottom: 14px;
        }

        &__link {
            font-size: 14px;
            line-height: 16.8px;
        }
    }

    .offer {
        &__img {
            top: 165px;
            right: 41%;
            height: 393px;
            width: 227px;
        }

        &__img-name {
            bottom: 106px;
        }

        &__dominates-item {
            &--1 {
                top: 30px;
                left: 16px;
            }

            &--2 {
                margin-top: 80px;
            }
        }

        &__btn {
            margin-top: 383px;
        }
    }

    .process {
        &__steps-item-content {
            br {
                content: " ";
            }
        }
    }
}

@media (max-width: 360px) {
    .offer {
        &__titles {
            font-size: 26px;
        }

        &__img {
        }

        // &__dominates-item--1 {
        //     margin-top: 60px;
        //     margin-left: -20px;
        // }
    }
}
