.not-found {
    background-image: url('../images/graphics/allon-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;

    &__content {
    }
    
    &__title {
        margin-bottom: 63px;
    }

    &__btn {
        margin: auto;
    }
}
.btn {
}
