.liquid {
    background-image: url('../images/graphics/liquid-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../images/graphics/liquid-shadow.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 20px;
        bottom: -5px;
        z-index: 3;
        left: 0;
    }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../images/graphics/liquid-elips.png');
    //     background-size: auto;
    //     background-repeat: no-repeat;
    //     background-position: bottom right;
    //     bottom: -44px;
    //     right: 0;
    //     z-index: 4;
    // }
    .container {
        position: relative;
    }

    &__col {
        &--left {
            padding-top: 69px;
            width: 50%;
            z-index: 5;
        }

        &--right {
            width: 50%;
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__card-title {
        margin-left: 25px;
    }

    &__card-icon {
    }

    &__card-right {
    }

    &__card-title {
    }

    &__card-text {
    }

    &__antistress {
    }

    &__antistress-title {
        font-size: 22px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%; /* 28.6px */
        margin-top: 70px;
    }

    &__antistress-cards {
        margin-top: 16px;
    }

    &__antistress-card {
        margin-bottom: 21px;
    }

    &__btn {
        margin-top: 56px;
        margin-left: 5px;
        margin-bottom: 40px;

    }

    &__right {
    }

    &__employee {
    }

    &__image {
        margin-left: -80px;
        margin-top: 5px;
    }

    &__employee-label {
        top: 243px;
        right: 142px;
        margin-left: auto;
        position: absolute;
        text-align: left;
        z-index: 5;
    }

    &__employee-label-name {
        font-size: 16.552px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 3px;
    }

    &__employee-label-job {
        font-size: 12.655px;
        font-style: normal;
        font-weight: 100;
        line-height: 130%; /* 16.451px */
    }

    &__employee-quote {
        border-radius: 9px;
        border: 1px solid #ffffff2a;
        background: linear-gradient(123deg, rgba(19, 91, 96, 0.45) 4.49%, rgba(30, 85, 109, 0.45) 120.49%), rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(7.5px);
        position: absolute;
        padding: 35px 41px 33px 41px;
        font-style: normal;
        max-width: 473px;
        line-height: 160%; /* 22.4px */
        bottom: 36px;
        right: 13px;
        z-index: 5;
        &::before {
            content: "“";
            left: 41px;
            font-family: Actay-Wide;
            margin-right: 21px;
            font-weight: 700;
            margin-top: -10px;
            font-size: 101px;
            color: rgba(255, 255, 255, 0.20);

        }
        &-text {
            font-weight: 500;
            line-height: 160%;
            font-size: 14px;
            strong {
                font-weight: 900;
            }
        }
    }
}
.container {
}
.row {
}
.section-title {
}
.icon-card {

    &__img {
    }

    &__right {
    }

    &__text {
    }
}
.icon {

    &__card-title {
    }
}
.label {

    &__name {
    }

    &__job {
    }
}
.card {
}
