.team {
    padding-top: 45px;
    background-image: url('../images/graphics/team-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 487px;
        background-image: url('../images/graphics/team-shadow.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;
    }
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 842px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__card {
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    &__card-img {
        img {
            width: 66px;
            height: 64.5px;
        }
    }

    &__card-right {
    }

    &__card-text {
        font-size: 16px;
        max-width: 456px;
    }

    &__persons {
        display: flex;
        position: relative;
        margin-top: 61px;
        img {
            z-index: 1;
            left: 0;
        }
    }

    &__employee-label {
        position: absolute;
        width: 132px;
        z-index: 6;
        &--1 {
            top: 55px;
            left: 93px;
        }

        &--2 {
            top: 42px;
            left: 295px;
        }

        &--3 {
            top: 76px;
            left: 451px;
        }

        &--4 {
            top: 14px;
            left: 602px;
        }

        &--5 {
            top: 52px;
            left: 757px;
        }

        &--6 {
            top: 52px;
            left: 907px;
        }

        &--7 {
            top: 39px;
            left: 1111px;
        }

        &--8 {
            top: 579px;
            left: 527px;
        }
    }

    &__employee-label-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 130%; /* 18.2px */
    }

    &__employee-label-job {
        max-width: 110px;
        font-size: 13px;
        line-height: 120%; /* 15.6px */
        font-weight: 100;
    }
}
